{% extends "base.html" %}

{% block content %}
    <div class="content is-normal">
        <h1 class="has-text-primary-on-scheme">Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <button type="submit">Login</button> {% endcomment %}
            <div class="control">
                <button class="button is-link">LOGIN</button>
            </div>
        </form>
    </div>
{% endblock content %}