{% extends "base.html" %}

{% block content %}
        <div  class="content is-normal">
            <h1 class="has-text-primary-on-scheme">Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-success">Signup</button>
            </form>
            {% if form.errors %}
        </div>
        <div>
            <ul>
                {% for field in form %}
                    {% for error in firld.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %} 
            </ul>  
        </div> 
            {% endif %}                
{% endblock content %} 