{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static "css/project.css" %}">
    <title>test base</title>
    {% comment %} <title>{% block title %}{% endblock title %}</title> {% endcomment %}
  </head>

  <body>
   
    <header>
      <nav class="tabs">
        <ul>
          {% if user.is_authenticated %}
            <li class="is-active">
              <a href="{% url 'show_my_tasks' %}">My tasks</a>
            </li>  
            <li>
              <a href="{% url 'list_projects' %}">My projects</a>
            </li>  
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
              <a href="{% url 'signup' %}">Signup</a>
            </li> 
          {% endif %}    
        </ul>     
      </nav>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>