{% extends "base.html" %}
{% block content %}
        <div class="content is-normal">
            <h1 class="has-text-primary-on-scheme">Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-primary">Create</button>
            </form>
        </div>
{% endblock content %}