{% extends "base.html" %} 
{% block content %}
        <div class="content is-normal">
            <h1 class="has-text-primary-on-scheme">Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
               <button class="tag is-hoverable is-danger">Create</button>
            </form>
        </div>
{% endblock content %}