{% extends "base.html" %}

{% block content %}
    <div class="content is-normal">
        <h1>{{ project.name }}</h1>
        <p> {{ project.description }}</p>
        <h2 class="has-text-primary-on-scheme">Tasks TEST</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if tasks %}
            <table class="table is-bordered">
                <thead>
                    <tr class="is-info">
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr class="is-warning">
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee.user }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>    
        {% else %} 
            <p>This project has no tasks</p>
        {% endif %} 
    </div>
{% endblock content %}