{% extends "base.html" %}

{% block content %}
    <div class="content is-normal">   
        <h1 class="has-text-primary-on-scheme">My Projects</h1>
        <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="Find a repository">
            </div>
            <div class="control">
              <button class="button has-text-success-light">
                Search
              </button>
            </div>
        </div>
        <a href="{% url "create_project" %}">Create a new project</a>
        {% if not projects %}
            <p>You are not assigned to any projects</p> 
        {% else %}    
            <table class="table is-bordered"class>
                <thead>
                    <tr>
                        <th class="is-primary">Name</th>
                        <th class="is-primary">Description</th>
                        <th class="is-primary">Start date</th>
                        <th class="is-primary">End Date</th>
                        <th class="is-primary">Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td><a href="{% url "show_project" project.id %}">{{ project.name }}</a></td>
                            <td>{{ project.description }}</td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.end_date }}</td>   
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
        {% endif %}
                </tbody>
            </table>         
    </div>   
{% endblock content %}